#employeeStatisticsVBox {
    -fx-padding: 10 10 10 10;
    -fx-background-color: #73A788;
    -fx-background-radius: 12px;
}

#employeeStatisticsNameLabel {
    -fx-text-fill: #2F3C35;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#employeeStatisticsLabel {
    -fx-text-fill: #41564A;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#employeeStatisticsRankLabel {
    -fx-text-fill: #41564A;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#employeeStatisticsWorkDurationLabel {
    -fx-text-fill: #41564A;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#employeeStatisticsCompletedLabel {
    -fx-text-fill: #41564A;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#employeeStatisticsUncompletedLabel {
    -fx-text-fill: #41564A;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}