#mainVBox {
    -fx-background-color: D9D9D9;
    -fx-background-radius: 12px;
}

#assignButton {
    -fx-background-color: transparent;

    -fx-font-weight: bold;
    -fx-font-family: PoppinsBold;
    -fx-font-size: 12px;
    -fx-text-fill: #8C8686;
}

#assignButton:hover {
    -fx-background-color: #B1B0B0;
    -fx-background-radius: 12 12 12 12;

    -fx-border-color: #B1B0B0;
    -fx-border-radius: 12 12 12 12;

    -fx-text-fill: #746D6D;
}

#taskTitleTF {
    -fx-background-color: transparent;

    -fx-text-fill: #746D6D;
    -fx-prompt-text-fill: #746D6D;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#startHourTF {
    -fx-background-color: transparent;
    -fx-text-fill: #8C8686;
    -fx-prompt-text-fill: #8C8686;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#endHourTF {
    -fx-background-color: transparent;
    -fx-text-fill: #8C8686;
    -fx-prompt-text-fill: #8C8686;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#taskSaveButton {
    -fx-background-color: linear-gradient(to right top, #41564A, #73A788);
    -fx-background-radius: 10px;

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
}

#taskSaveButton:hover {
    -fx-background-color: linear-gradient(to right top, #537F65, #87DAA9);
}