@font-face {
    font-family: "PoppinsBold";
    src: url("Fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "PoppinsMedium";
    src: url("Fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("Fonts/Poppins-Regular.ttf");
}



#leftPane {
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #B1B0B0;
}

#topPane {
    -fx-background-color: linear-gradient(to right, #41564A, #73A788);
}

#topButtonHBox {
    -fx-border-color: #B1B0B0;
    -fx-border-width: 0 0 1 0;
}



#topButton {
    -fx-background-color: transparent;
    -fx-background-radius: 12;

    -fx-border-color: transparent;

    -fx-text-fill: #8C8686;
    -fx-font-family: PoppinsRegular;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#topButton:hover {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 12;

    -fx-border-color: #D9D9D9;
    -fx-border-radius: 12;

    -fx-text-fill: #746D6D;
}





.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:150px;
}

.tab-pane .tab-header-area {
    -fx-border-color: #537F65; /* Change to your desired color */
    -fx-border-width: 0 0 2px 0; /* Bottom border only */
    -fx-border-style: solid;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-radius: 32 32 0 0;
}
.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-border-color: #537F65;
    -fx-border-radius: 32 32 0 0;
    -fx-border-width: 2 2 0 2;
}

.tab-pane .tab:selected {
    -fx-background-color: #537F65;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #537F65;
    -fx-font-weight: BOLD;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab .tab-container {
    -fx-border-width: 0 0 0 0; /* Removes the bottom border */
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

#uncompletedLabel {
    -fx-text-fill: #746D6D;
    -fx-font-weight: bold;
    -fx-font-family: PoppinsBold;
    -fx-font-size: 16px;
}

#completedLabel {
    -fx-text-fill: #73A788;
    -fx-font-weight: bold;
    -fx-font-family: PoppinsBold;
    -fx-font-size: 16px;
}